html, body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(92.83deg, #b993d6
  0%, #8ca6db 100%), #1A1919;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mb-2 {
  color: #ffffff
}
.mb-5 {
  color: #fff
}
.d-flex {
  display: flex;
}
.task-title {
  font-weight: 400;
  padding-top: 5px;
}
.task-title--done {
  text-decoration: line-through;
  color: #CDCDCD;
}
.task-item__buttons {
  display: flex;
  column-gap: 5px;
}
.empty-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.empty-list__title {
  font-size: 28px;
  margin-bottom: 15px;
  font-weight: 300;
}
.empty-list__icon {
  color: #42BE2A;
  font-size: 32px;
}

.btn-action {
    background-color: #e0e5ea;
    padding: 8px 10px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    transition: opacity 0.2s ease-in;
    opacity: 0.5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-action:hover {
    background-color: #e0e5ea;
    opacity: 1;
}

.btn-action img {
  pointer-events: none;
}

.none {
  display: none !important;
}

.copyright {
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

